@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nokiafc22;
  src: url('./img/nokiafc22.ttf');
}

@layer components {
  .flexc {
    @apply flex items-center justify-center
  }

  .m-item {
    @apply text-white flexc gap-2 h-9.5 pt-1 pl-1 my-1
  }

  .border-box-all * {
    box-sizing: border-box;
  }

  .tilesize {
    @apply w-6 h-6;
  }

  .grid-pos-11 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .border-r-none {
    border-right: none;
  }
  
  .border-l-none {
    border-left: none
  }
  
  /* m - menu components */

  .m-bar {
    @apply border-6;
    background: url('./img/menus/bar-bg.svg') 0 / 168px repeat padding-box;
    border-image: url('./img/menus/bar-border.svg') 25% / 8px round;
  }
  .m-box {
    @apply border-8 p-1;
    background: url('./img/menus/box-bg.svg') 0 / 112px repeat padding-box;
    border-image: url('./img/menus/box-border.svg') 20.8333% / 9px round;
  }
  .m-panel {
    @apply border-8 p-1 pt-1.5 relative;
    background: url('./img/menus/panel-bg.svg') 0 / 112px repeat padding-box;
    border-image: url('./img/menus/panel-border.svg') 18.1818% / 8px round;
  }
  .m-panel::before {
    @apply block w-12 h-6 absolute -top-4 left-1/2 -translate-x-1/2;
    content: '';
    background: url('./img/menus/panel-top.svg') center no-repeat;
  }
  .m-button {
    @apply w-56;
    background: url('./img/menus/button.svg') no-repeat center center;
  }
  .m-button:hover, .m-button-hover {
    @apply w-56;
    background: url('./img/menus/button-hover.svg') no-repeat center center;
  }
  .m-colorsbg {
    background: url('./img/menus/colorsbg.svg') no-repeat center center;
    width: 244px;
    height: 232px;
  }
  .m-colorbox {
    border-image: url('./img/menus/frame.svg') 8;
  }
  .m-colorbox:hover {
    border-image: url('./img/menus/frame-hover.svg') 8;
  }
  .m-playerbox {
    @apply w-56 h-9;
    background: url('./img/menus/player/player.svg') no-repeat;
  }
  .m-darkbox {
    @apply w-56 h-9;
    background: url('./img/menus/darkbox.svg') no-repeat;
  }
  .m-map {
    @apply border-2 border-black w-full h-full grid;
    background: url('./img/bg01.png') 0 0 / 480px 480px no-repeat;
    grid-template-columns: repeat(20, 24px);
    grid-template-rows: repeat(20, 24px);
    user-select: none;
  }
}

/* Images converted with Pixels to SVG https://codepen.io/shshaw/pen/XbxvNj */

img {
  image-rendering: pixelated;
}

body {
  background-color: black;
}

.app input[type='text'] {
  @apply bg-transparent border-none outline-none;
}

.bg6 { background: url('./img/menus/bg6.png') 0 / cover no-repeat; }
.bg1 { background: url('./img/menus/bg1.svg') 0 / 90px repeat; }
.bg7 { background: url('./img/menus/bg7.png') 0 / cover no-repeat; }
.bg8 { background: url('./img/menus/bg8.png') 0 / cover no-repeat; }

/* s - screens */

.s-game {
  @apply grid gap-2 p-2;
  grid-template-columns: 224px 484px 224px;
  grid-template-rows: 530px auto;
}

/* map */
.tile {
  @apply tilesize grid grid-cols-1 grid-rows-1;
}
.tile.fog {
  @apply bg-black bg-opacity-50;
}
.tile::after {
  @apply tile-selected opacity-0;
  content: '';
}
.tile:hover::after {
  @apply opacity-10;
}
.tileimg {
  @apply tilesize pointer-events-none grid-pos-11;
}
.tile-selected {
  @apply tilesize grid-pos-11 pointer-events-none;
  box-shadow: inset 0px 0px 0px 2px black;
}

.tile-owned {
  background-color: var(--owner-bg);
}

/* Top Right Bottom Left */
.tile-border-0001 { box-shadow: inset  2px  0px 0px 0px var(--owner) }
.tile-border-0010 { box-shadow: inset  0px -2px 0px 0px var(--owner) }
.tile-border-0011 { box-shadow: inset  2px -2px 0px 0px var(--owner) }
.tile-border-0100 { box-shadow: inset -2px  0px 0px 0px var(--owner) }
.tile-border-0101 { box-shadow: inset -2px  0px 0px 0px var(--owner), inset  2px  0px 0px 0px var(--owner) }
.tile-border-0110 { box-shadow: inset -2px -2px 0px 0px var(--owner) }
.tile-border-0111 { box-shadow: inset  2px -2px 0px 0px var(--owner), inset -2px  0px 0px 0px var(--owner) }
.tile-border-1000 { box-shadow: inset  0px  2px 0px 0px var(--owner) }
.tile-border-1001 { box-shadow: inset  2px  2px 0px 0px var(--owner) }
.tile-border-1010 { box-shadow: inset  0px  2px 0px 0px var(--owner), inset  0px -2px 0px 0px var(--owner) }
.tile-border-1011 { box-shadow: inset  0px  2px 0px 0px var(--owner), inset  2px -2px 0px 0px var(--owner) }
.tile-border-1100 { box-shadow: inset -2px  2px 0px 0px var(--owner) }
.tile-border-1101 { box-shadow: inset -2px  2px 0px 0px var(--owner), inset  2px  0px 0px 0px var(--owner) }
.tile-border-1110 { box-shadow: inset -2px  2px 0px 0px var(--owner), inset  0px -2px 0px 0px var(--owner) }
.tile-border-1111 { box-shadow: inset  0px  0px 0px 2px var(--owner) }